body{
  background-color: #75aff5;
  margin: auto;
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  backdrop-filter: blur(8px);
  font-family: Arial, Helvetica, sans-serif;
}

#title{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.6rem;
  padding: 10px;
}

#search-container{
  position: relative;
  display: inline-block;
 
}

#search{
  width: 420px;
  padding: 15px 25px;
  border: 1px solid white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border-radius: 20px;
}

#search:focus{
  outline: none;
}

#search-results-container{
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 400px;
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 20px;
 
}

#search-results-container div {
  padding: 10px;
  cursor: pointer;
  background-color: #1d2c31a9; 
  border-bottom: 1px solid #334247a9; 
  
 
}

.search-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  color: aliceblue;
}


#super-hero-container{
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
  padding-top: 50px;
}

#image{
  width: 350px;
  height: 250px;
  

}

#img{
  margin-top: 50px;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(72, 71, 71, 0.3);
}

#left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  width: 30%;
}

#main{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
  color: aliceblue;
}

#hero-name{
  font-size: 4rem;
  font-weight: bold;
  padding: 10px 0;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

#right{
 
  display: flex;
  text-align: left;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  line-height: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(72, 71, 71, 0.3);
}

.heading{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
  color: aliceblue;
}


#favourite-heros{
  display: flex;
  width: 85%;
  margin: auto;
  min-width: 480px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-details{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.hero-img-container{
  height: 270px;
  width: 210px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(72, 71, 71, 0.3);  
}

.hero-img-container img{
  width: 100%;
  height: 100%;
  object-fit: fill;

  
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  margin-top: -35px;
}

.hero-name{
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 10px;
  color: aliceblue;
}

.remove-fav{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 15px;
  color: Black;
  border-radius: 5px;
}

.remove-fav:hover{
  background-color: #C75C71;
  cursor: pointer;
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 15px 0 0;
}

.nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
